@import url('https://fonts.googleapis.com/css?family=Noticia+Text');

* {
    font-family: 'Noticia Text', serif;
    color: #FFF;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #about{
        width: 80%;
        height: auto;
        margin: 0px;
        padding: 10% 10% 0% 10%;
        font-size: 20px;
        line-height: 26px;
    }
}



#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#video-overlay{
    background-color: rgba(0,0,0,.35);
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -95;
}

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

#logo{
    background-color: #FFF;
    height: 125px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#about{
    width: 500px;
    height: 162px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}




#updatedButton{
    top: 15px;
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
    font-size: 30px;
    color: #FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
}

#updatedButton:hover, #updatedButton a:hover{
    border: 2px solid #FFFFFF;
    border-radius: 60px;
    background-color: #FFF;
    color: #000;
}

#fp-nav.right{
    right: 3%;
}

#fp-nav ul li a span{
    border: #FFF 1px solid;
    border-radius: 100%;
    background: transparent;
    width: 8px;
    height: 8px;
    margin: -5px 0px 0px -5px;
}

#fp-nav ul li a.active span{
    width: 8px;
    height: 8px;
    margin: -5px 0px 0px -5px;
    background: #FFF;
}

ul a, a:visited{
    color: #FFF;
}

h2{
    font-size: 36px;
}

#problem-info{
    width: 65%;
    margin-left: 6%;
}

#solution-outer{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.solution-info{
    position: relative;
    line-height: 20px;
    font-size: 14px;
    width: 170px;
    z-index: -90;
    top: 10px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    float: left;
}

#team-info{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding: 0% 10% 0% 20%;
    text-align: right;
}

#emailForm{
    top: 25px;
    width: 350px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    font-size: 20px;
    color: #FFF;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    position: relative;
    background: transparent;
    z-index: 200;
}


#submitButton{
    top: 45px;
    width: 350px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    font-size: 20px;
    color: #000;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    position: relative;
    background-color: #FFF;
    z-index: 200;
}

#submitButton:hover{
    border-radius: 15px;
    background-color: #000;
    color: #FFF;
}

#footer{
    position: absolute;
    bottom: 30px;
    left: 2%;
    margin-left: 2%;
    width: 70%;
    height: 25px;
}

input:focus, textarea:focus {outline: none;}